
﻿@model Taskit.Web.Models.Cards.Index<string>
@{ 
	ViewBag.Title = "Taskit!";
}

<script type="text/javascript" src="~/Content/js/cards/index.js"></script>
<script type="text/javascript">
	window.links = {
		'updateCardAttribute': '@Url.Action("UpdateCardAttribute", "Cards")',
		'updateCardDisplayOrder': '@Url.Action("UpdateCardDisplayOrder", "Cards")'
	};
</script>

<div class="pageTitle span2">
	<h1 class="inlineHeader">Cards</h1>
</div>

<div class="span10">
	<div class="filterForm">
		@using(var form = Html.BeginForm("Index", "Cards", FormMethod.Get))
		{
			<select name="sortingAttribute" id="sortingAttribute" onchange="this.form.submit();">
				@foreach(var attribute in Model.SortableAttributes)
				{
					<option value="@attribute" selected="@(attribute == Model.SortingAttribute ? "selected" : "")">@attribute</option>
				}
			</select>
		}
	</div>
</div>

<div class="row-fluid">
	@foreach(var attribute in Model.Cards)
	{
		<div class="span3">
			<div class="list">
				<h2>@(attribute.Key ?? "-none-")</h2>
				<div class="cardList" data-attribute-key="@Model.SortingAttribute" data-attribute-value="@attribute.Key">
					@foreach(var card in attribute)
					{
						<div class="card" data-card-id="@card.Id">
							<h3>
								<a href="@Url.Action("Edit", new { Id = card.Id })" class="cardName">@card.Name</a>
							</h3>
							<p>@card.Description</p>
						</div>
					}
				</div>
			</div>
		</div>
	}
</div>

<div id="editCardModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="editCardModelLabel" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="myModalLabel">Edit Card</h3>
    </div>
    <div class="modal-body" id="modalBody">
            
    </div>
    <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
        <button class="btn btn-primary modelSubmitButton">Save Changes</button>
    </div>
</div>

