@model Taskit.Web.Models.Cards.Index<string>

@{
    ViewBag.Title = "Taskit!";
}


<h1>Index</h1>
@using(var form = Html.BeginForm("Index", "Cards", FormMethod.Get))
{
	<select name="sortingAttribute" onchange="this.form.submit();">
		@foreach(var attribute in Model.SortableAttributes)
		{
			<option value="@attribute" selected='@attribute == Model.SortingAttribute ? "selected" : ""'>@attribute</option>
		}
	</select>
}

@foreach(var grouping in Model.Cards)
{
	<div class="list">
		<h2>@grouping.Key</h2>
		@foreach(var card in grouping)
		{
			<div class="card">
				<h3>@card.Name</h3>
				<p>@card.Description</p>
			</div>
		}
	</div>
}